html , body , #root{
  background-color: black; 
  text-align: center;
  font-weight: 600;
  color:white;
  width: 100%;
 max-width: 100%;
 margin: auto auto;
}
nav{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  padding-right: 10%;
  padding-left: 10%;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid black;
  transition: .4s;
}
.Rep{
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 2px;
}
.CSI{
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 2px;
}
.Imp{
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 2px;
}
.Reb{
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 2px;
}
.Rep:hover{
  background-repeat: no-repeat;
  background-image: url("http://pm1.narvii.com/6285/0abadec238bd7f41a9348356f40bb891411416b7_00.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  border: 2px dashed white;
}
.CSI:hover{
  background-repeat: no-repeat;
  background-image: url("https://pm1.narvii.com/6439/4b30c61839e4d26bf630955bcc4e0d6b2d625fd6_hq.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  border: 2px dashed white;
}
.Imp:hover{
  background-repeat: no-repeat;
  background-image: url("http://pm1.narvii.com/6234/ea8781f4d3eb3cd255ff518b8ebb9fb815624f94_00.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  border: 2px dashed white;
}
.Reb:hover{
  background-repeat: no-repeat;
  background-image: url("https://wallpapercave.com/wp/wp2149431.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  border: 2px dashed white;
}
.ItemDetail{
  background-image: url("https://www.logolynx.com/images/logolynx/46/466b40882cc9a58ff5756e14032101c6.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ItemDetail button{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 100%);
  color: white;
  padding: 1%;
}
.ItemCount{
  text-align: center;
  font-weight: 600;
  color:white;
  margin-right: 20%;
  margin-left: 20%;
  padding: 20px;
}
.ItemCount button{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 100%);
  color: white;
  padding: 1%;
  margin-left: 4%;
  margin-right: 4%;
}
.aspecto{
  background-color: darkblue;
  font-weight: 600;
  font-size: 20px;
  color: white;
}
.marcador{
  font-size: 22px;
  color: white;
  background-color: rgb(5, 96, 233);
}
.lista h2{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.black{
  color: black;
}
.imagen{
  text-align: center;
  height: 30%;
  width: 80%;
  padding-right: 10%;
  padding-left: 10%;
}
.CardItem {
  color: white;
  width: 80%;
  height: auto;
  margin: 30px;
  font-size: 12px;
  background: rgb(255,0,0);
  background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(122,0,0,1) 27%, rgba(0,0,0,1) 100%);
  border: 2px solid #ffffff;
  border-radius: 10px;
}
.ContainerItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-radius: 25px;
}
.ItemHeader {
  display: flex;
  justify-content: center;
}
.Info {
  font-size: 16px;
  display: flex;
  justify-content: space-around;
}
.ItemImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}
.ItemListContainer {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  min-height: 80vh;
  color: black;
} 
.mensaje{
  color: white
}
.ListGroup {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.white{
  font-size: 26px;
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
}
footer {
  background-color: rgb(1, 0, 63);
  text-align: center;
  padding: 0.5rem;
}
.inferno img{
  text-align: left;
  height: 48px;
  padding-right: 10%;
  padding-left: 10%;
}
.inferno button{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 100%);
  border-color: transparent;
}
.back{
  background-image: url("https://raw.githubusercontent.com/Franck-01/Project-SW/master/public/images/inferno_blue.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.back button{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 100%);
  color: white;
  padding: 1%;
  margin-left: 4%;
  margin-right: 4%;
}
.boton{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 100%);
  color: white;
  padding: 1%;
  margin-left: 4%;
  margin-right: 4%;
}